<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>
    <ul>
        <li>Phone No. - 94176876768</li>
        <li>email - arya5656575675765675757657</li>
    </ul>

    <form action="index.html" method="POST">
        <label for="" name="yourname">Your name:</label>
        <input type="text">

        <br>
        <br>
        <label for="" name="youremail">Your email:</label>
        <input type="email">
        <br>
        <br>
        <label for="">Your message:</label>
        <textarea name="yourmessage" id="" cols="19" rows="15"></textarea>
        <br>
        <br>
        <input type="submit">
    </form>
</body>

</html>